<div
  id="cartDrawer"
  class="{{ settings.drawer_color_scheme }}-color-scheme minicart-sidebar sd-sidebar sd-sidebar--left"
  aria-hidden="true"
  data-cart-drawer
  data-side-drawer
>
  <a href="#" class="unstyled-link sd-sidebar-background" data-side-drawer-close data-moving-cursor>
    <span class="overlay-close" aria-label="Close">
      {% render 'icons', icon: 'close' %}
    </span>
  </a>
  <div class="sd-sidebar-container" role="dialog" aria-modal="true">
    <div class="sd-sidebar-head">
      <h6 class="sd-sidebar-title">
        <span>
         {% comment %} <svg width="16" viewBox="0 0 19 22">
            <g><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7px" d="m13.51,6.3v-1.45c0-1.06-.42-2.08-1.16-2.83-.74-.75-1.75-1.17-2.81-1.17s-2.06.42-2.81,1.17c-.74.75-1.16,1.77-1.16,2.83v1.45m11.33.24l1.31,12.19c.02.21,0,.43-.05.64s-.16.4-.29.57c-.13.17-.3.31-.49.41-.19.1-.39.17-.6.19H2.48c-.43,0-.84-.17-1.14-.48-.3-.3-.48-.72-.48-1.15,0-.06,0-.12,0-.18l1.32-12.19c0-.07.03-.13.08-.17.05-.04.11-.07.18-.06h14.19c.07,0,.13.02.18.06.05.04.08.11.08.17Z"></path></g>
          </svg>  {% endcomment %}

          <svg width="20" height="20" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" d="M29.121 8.66608H26.028L19.261 0.325081C19.1138 0.145335 18.902 0.030499 18.6711 0.00525517C18.4401 -0.0199886 18.2085 0.0463747 18.026 0.190081C17.9361 0.260354 17.861 0.347867 17.8053 0.447497C17.7496 0.547127 17.7144 0.65687 17.7016 0.770298C17.6888 0.883727 17.6989 0.99856 17.731 1.10807C17.7632 1.21759 17.8169 1.31958 17.889 1.40808L23.778 8.66708H6.223L12.112 1.40808C12.184 1.31953 12.2376 1.21753 12.2697 1.10803C12.3018 0.998533 12.3117 0.883736 12.299 0.770346C12.2862 0.656956 12.251 0.547244 12.1954 0.447615C12.1397 0.347986 12.0648 0.260437 11.975 0.190081C11.7925 0.0463747 11.5609 -0.0199886 11.3299 0.00525517C11.099 0.030499 10.8872 0.145335 10.74 0.325081L3.972 8.66608H0.879C0.764355 8.66529 0.650678 8.68709 0.544457 8.73023C0.438238 8.77338 0.341556 8.83702 0.259932 8.91753C0.178309 8.99804 0.113343 9.09383 0.0687438 9.19945C0.0241444 9.30507 0.000785229 9.41844 0 9.53308L0 12.9991C0.000785229 13.1137 0.0241444 13.2271 0.0687438 13.3327C0.113343 13.4383 0.178309 13.5341 0.259932 13.6146C0.341556 13.6951 0.438238 13.7588 0.544457 13.8019C0.650678 13.8451 0.764355 13.8669 0.879 13.8661H1.974L5.308 25.3661C5.36095 25.5489 5.47192 25.7095 5.62417 25.8237C5.77642 25.9379 5.96169 25.9994 6.152 25.9991H23.852C24.042 25.9999 24.2271 25.939 24.3795 25.8256C24.5318 25.7121 24.6433 25.5523 24.697 25.3701L28.03 13.8701H29.125C29.2396 13.8703 29.3532 13.848 29.4592 13.8044C29.5653 13.7608 29.6616 13.6967 29.7429 13.6158C29.8241 13.5349 29.8887 13.4388 29.9328 13.333C29.9769 13.2272 29.9997 13.1137 30 12.9991V9.53308C29.9992 9.41844 29.9759 9.30507 29.9313 9.19945C29.8867 9.09383 29.8217 8.99804 29.7401 8.91753C29.6584 8.83702 29.5618 8.77338 29.4555 8.73023C29.3493 8.68709 29.2356 8.66529 29.121 8.66608ZM23.185 24.2661H6.815L3.8 13.8661H26.2L23.185 24.2661ZM28.242 12.1331H1.758V10.3991H28.242V12.1331Z" fill="#000"/>
          </svg>
        </span>
        {{- 'cart.title' | t }}
      </h6>
      <button type="button" class="sd-sidebar-close" aria-label="Close" data-side-drawer-close>
        {% render 'icons', icon: 'close' %}
      </button>
    </div>
    <div class="sd-sidebar-content">
      <div class="minicart__content" data-cart-drawer-body>{% render 'ajax-cart-drawer-content' %}</div>
    </div>
  </div>
</div>
