.passowrd__container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
    z-index: 1;
}

.password__content {
    max-width: 100%;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    margin: 0 auto;
}

.password__img {
    display: inline-block;
    max-width: 300px;
    margin-bottom: 25px;
}

.password__form {
    max-width: 450px;
    margin: 40px auto 0;
}

.password__heading {
    font-size: var(--h1);
    margin-bottom: 0;
}

.password__desc {
    margin-bottom: 35px;
}

.password__heading span {
    -webkit-text-stroke: 2px;
    text-stroke: 2px;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin-left: 5px;
}

.password__content .social-icons {
    margin-top: 20px;
}

.password-content {
    margin-top: 20px;
}

.password__content .social-icons .social-icons__list {
    justify-content: center;
}

.password__enter-btn {
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 2;
    color: var(--body-text-color);
}

.password__enter-content {
    padding: 40px 30px;
    text-align: center;
}

.password__enter-desc {
    opacity: 0.5;
    margin-top: 15px;
    color: var(--body-text-color);
}

@media (min-width: 768px) {
    .password__heading {
        font-size: var(--h1-med);
    }
}

@media (min-width:992px) {
    .password__content {
        max-width: 90%;
    }
    .password__form {
        max-width: 550px;
        margin: 60px auto 0;
    }
    .password__img {
        max-width: 400px;
    }
}

@media (min-width:1025px) {
    .password__enter-desc a:hover {
        color: var(--link-hover-color);
    }
}

@media (min-width:1200px) {
    .password__content {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    .password__img {
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .passowrd__container {
        padding: 60px 0;
    }
    .password__enter-btn {
        position: absolute;
        top: 20px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 85%;
    }
    .section-link {
        justify-content: center;
    }
    .password__enter-content {
        padding: 40px 0px;
        text-align: center;
    }
}