.recent-viewed-product-section {
    overflow: hidden;
}

html.no-js .recent-viewed-product-section {
    display: none;
}

.recently-viewed__slider:not(.flickity-enabled) {
    display: flex;
}

.recently-viewed__slider .flickity-viewport {
    overflow: visible;
}

.recently-viewed__slider .product-card-item {
    width: 60%;
    flex: 0 0 60%;
    margin-bottom: 0;
}

.recently-viewed__slider .flickity-slider {
    margin: 0 -7px;
}

@media (min-width:1025px) {
    .recently-viewed__slider .flickity-button {
        top: calc(50% - 25px);
        opacity: 0;
        transition: .4s ease;
    }
    .recently-viewed__slider:hover .flickity-button:not([disabled]) {
        opacity: 1;
    }
    .recently-viewed__slider .flickity-slider {
        margin: 0 -10px;
    }
}

@media (min-width:576px) {
    .recently-viewed__slider .product-card-item {
        width: 45%;
        flex: 0 0 45%;
        margin-bottom: 0;
    }
}

@media (min-width:768px) {
    .recently-viewed__slider .product-card-item {
        width: 40%;
        flex: 0 0 40%;
        margin-bottom: 0;
    }
}

@media (min-width:1200px) {
    .recently-viewed__slider .product-card-item {
        width: 25%;
        flex: 0 0 25%;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .recently-viewed__slider .flickity-button {
        display: none;
    }
}